<% if @survey.errors.any? %>
  <div id="error explanation">
      <div class= "alert alert-danger">
          The form contains <%= pluralize(@survey.errors.count, "error") %>
      <ul>
        <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>