<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    
    <%= render 'shared/error_messages' %>
    
    <h2>Edit your responses below</h2>
    
    <%= form_for(@survey) do |f| %>
      <%= render :partial => "survey", :locals => { :f => f } %>
    <% end %>
    
  </div>
</div>