<div class="container">

    
    <%= render 'shared/error_messages' %>
    
    <%= form_for(@survey) do |f| %>
        <%= render :partial => "survey", :locals => { :f => f } %>
    <% end %>
    
  
</div>
